# Ignore Debug Outputs
**/Debug/*
**/Debug/*
*.launch

# Ignore Release Outputs
**/Release/

# Ignore .project file
**/.project

# Ignore Settings
**/.settings/

# Ignore Dolphin file
**/.directory

# Ignore Eclipse metadata
/.metadata/*
